@import "{{ site.theme }}";

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 100;
}

.language-switcher .active-lang {
    font-weight: bold;
    margin: 0 5px;
}

.language-switcher .lang-link {
    color: white;
    margin: 0 5px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}